/******************************************************************/
/** FOR ALL *******************************************************/


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: ‘Poppins’, sans-serif;
  margin: auto 0;
  /* line-height: 1.6; */
  /* border: 6px solid red; */
}

h1 { font-size: 40px; font-weight: 600; font-variant-caps: titling-caps;}
h2 { font-size: 30px; font-weight: 500;}
h3 { font-size: 22px; font-weight: 600;}
h4 { font-size: 22px; font-weight: 400;}
h5 { font-size: 14px; font-weight: 600; text-transform: uppercase;}
h6 { font-size: 12px; font-weight: lighter;  }
.findings p{ font-style: italic; font-weight: 300;}


/***** Top NAV ****************************/

.main-nav {
  align-items: center;
  display: flex;
  justify-content: space-between; /*how the content will be displayied on the flex box. */
  padding: 1em 10em;
  /* position: fixed
  width: 100%; */
}

.logo-img {
  width: 60px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 10px 0;
  z-index: 0;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide checkbox inout */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*  Just a quick hamburger */
#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 7px;
  position: relative;

  background: #000000;
  border-radius: 3px;

  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  /* display: none; */
  position: absolute;
  width: 350px;
  margin: -100px 0 0 -150px;
  padding: 50px;
  padding-top: 125px;

  background: #ffffff;
  list-style-type: none;
  /* -webkit-font-smoothing: antialiased; */
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 15px 0;
  border-bottom: .5px solid black;
  text-transform: uppercase;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* .menu {
  width: 60px;
} */


/******************************************************************/
/******************************************************************/
/***** HOME PAGE ***************************/

/***************** INTRO *******************/

#Page-Intro {
  margin-top:
  height: 480px;
  background-color: #EDEAE5;
  padding: 5em 10em;
  /* position: fixed;
  left: 0;
  right: 0;  */
}

#Page-Intro h1 {
  color: #016670;
}


/*************** HOME Content *********************/
/* .container {
  width: 75%;
  margin: 0 auto;
} */

.case-study {
  align-items: center;
  background-image: url("../images/PlaneSky.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  position: relative;
  /* margin-top: 700px; */
  overflow: auto;
}

.proj-image img {
  height: 600px;
  /* padding: 4em 10em 1em 4em; */
  /* border: 6px solid Yellow; */
}

.proj-description h3, h1 {
margin: 0 50px 0 0;
line-height: 44px;

}

a {
  color: #016670;

}



/******************************************************************/
/******************************************************************/

/***** project PAGE ***************************/
/***************** INTRO *******************/


#Page-Intro-case {
  /* applying opacity on gradient */
  background-image: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 31%, rgba(255,255,255,1) 100%), url("../images/PlaneSky.png"); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(255,255,255,1) 100%), url("../images/PlaneSky.png"); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(255,255,255,1) 100%), url("../images/PlaneSky.png"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ), url("../images/PlaneSky.png"); /* IE6-9 */

  url("../images/PlaneSky.png"); /* FF3.6-15 */
  /* background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */ */

  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 10em;
}

.projName img {
  align-items: center;
  height: 300px;
}

.projName {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 2em;
}

#description {
  text-align: left;
}

.challenge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  width: 100%;
}

.problem { padding-right: 1em; }

.sol { padding-left: 1em; }


/***************** TIMELINE *******************/
.timeline {
  /* display: block; */
  background-color: #FCE181;
  height: 5em;
}

/* drawing line */
.timeline #events {
  display: flex;
  background-color: #000000;
  height: 2px;
  width: 100%;
  margin: 4em 0;
 }

 .timeline #events ul {
   /* text-align: center; */
   display: flex;
   flex-direction: row;
   margin: 0;
   padding: 0;
 }

 /* space up items */
.timeline #events ul li {
  padding: .75em 2em;
  list-style: none;
}

 /* drawing circles */
 .timeline #events ul li a {
  text-decoration: none;
  position: relative;
}

.timeline #events ul li a:after {
  content: '';
  position: absolute;
  bottom: 19px;
  left: 50%;
  right: auto;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #fff;
  transition: 0.3s ease;
  transform: translateX(-50%);
}

.timeline #events ul li a:hover::after {
  background-color: #016670;
  border-color: #016670;
}

.timeline #events ul li a.selected:after {
  background-color: #016670;
  border-color: #000;
}

 /* fix on top when scrolled */
.nav-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.scroll-shadow {
  box-shadow: 0 0 10px #333;
}





/***************** CONTENT *******************/
.events-content {
    padding: 0 10em;
    /* display: flex; */
}

.events-content li {
  /* display: none; */
  list-style: none;
}

.events-content li.selected {
  display: initial;
}

.process span {
  font-weight: lighter;
}

.process h3  {
  padding: 4em 0 .3em 0;
  /* border: 6px solid Yellow; */
  border-bottom: 3px solid #FCE181;
  margin: 1em 0;
}

.events-content p {
  padding-bottom: 1em;
}

.findings {
  background: #f9f9f9;
  border-left: 6px solid #ccc;
  line-height: 1.4;
  margin: 4em 0;
  padding: 1em 2em;
}

#survey img {
  height: 300px;
}

#swot img {
  width: 180px;
  height: auto;
}

#personas img {
  max-width: 70%;
}

#userStories img {
  max-width: 100%;
}

#wireframes img {
  width: 15%;
  margin: 0 2px;
}

#branding img {
  width: 20%;
  margin: 0 1em;
}

#abTest img {
  width: 20%;
  margin: 0 2px;
}

#hiFi-prototype img {
  width: 20%;
  margin: 0 2px;
}

.img {
  text-align: center;
}

button {
  background-color: #ffffff;
  border: 3px solid #016670;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  margin: 4em auto;
  padding: 8px;
  width: 200px;
  text-transform: uppercase;
  align-content: center;
}


button:hover {
  background-color: #016670;
  color: white;
}

button a:hover  {
  background-color: #016670;
  color: white;
}


/*************** footer *********************/

#contact {
  text-align: center;
  background-color: #FCE181;
  padding: 1em;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 10em;
}

.media-links {      /* border: 6px solid Yellow; */
  padding-top: 18px;
}


/*****  change Fos all links */
a {
  color: #016670;
  text-decoration: none;
  font-weight: 600;
}

/* ************************************************* */
/* ************** MEDIA QUERIES ******************** */


/****** medium devices *******/
@media screen and (max-width: 990px) {
.main-nav { padding: 1em 4em; }

#Page-Intro {
  height: 480px;
  padding: 4em 6em;
}
.case-study {
  justify-content: flex-start;
  padding-top: 1em;
}

.copyright {
 padding: 1em 4em;
 justify-content: space-between;
 vertical-align: middle;
 }

 .media-links {
   padding: 0;
 }

.copyright h6 { margin: 0;}

 /********* project.html ***********************/
#Page-Intro-case { padding: 1em 2em; }
.projName { justify-content: center;}
.challenge { justify-content: space-around;}
.events-content { padding: 0 4em; }
.events-content ol { padding: 0; }

/* #survey img { width: 100%; height: auto;} */
#swot img { width: 150px; }
#personas img { max-width: 80%;}
#wireframes img { width: 230px; }
#branding img { width: 145px; }
#abTest img { width: 170px; }
#hiFi-prototype img { width: 230px;}

}



 /* small devices */
@media screen and (max-width: 575px) {
h1 { font-size: 30px; }
h2 { font-size: 17px; }
h3 { font-size: 18px; }
h6 { font-size: 10px; }
.logo-img { width: 40px; }
.main-nav { padding: 1em 2em; }

#Page-Intro {
  height: 400px;
  padding: 4em 2em;
}
#Page-Intro h1 { margin-right: 4em;}
.case-study {
  flex-direction: column-reverse;
  text-align: center;
  padding-top: 34px;
  margin: 0;
}
.proj-description h3, h1 {
  margin: 0;
  line-height: 40px;
}
.copyright {
  padding: 1em 2em;
  flex-direction: column-reverse;
  text-align: center;
}
.copyright h6 { margin: 0;}

  /***** project.html ****/
#Page-Intro-case { padding: 1em 2em; }
.projName { flex-direction: column; }
.challenge { flex-direction: column; }
.problem, .sol { padding: 0; }
.events-content { padding: 0 2em; }
.events-content ol { padding: 0; }

#survey img { width: 100%; height: auto;}
#swot img { width: 150px; }
#personas img { max-width: 100%; }
#branding img { width: 160px; }
#wireframes img,
#abTest img,
#hiFi-prototype img { width: 182px; }
}

/* Large smartphones	(min-width: 575px)
Tablets	(min-width: 575px)
Laptops	(min-width: 991px)
Desktops	(min-width: 1199px) */
