/******************************************************************/
/** FOR ALL *******************************************************/


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: ‘Poppins’, sans-serif;
  margin: auto 0;
  line-height: 1.4;
}

/* h1 { font-size: 40px; font-weight: 600; font-variant-caps: titling-caps;}
h2 { font-size: 30px; font-weight: 500;}
h3 { font-size: 22px; font-weight: 600;}
h4 { font-size: 22px; font-weight: 400;}
h5 { font-size: 14px; font-weight: 600; text-transform: uppercase;}
h6 { font-size: 12px; font-weight: lighter;  }
.findings p{ font-style: italic; font-weight: 300;} */

h1 { font-size: 2em; font-weight: 600; font-variant-caps: titling-caps;}
h2 { font-size: 1.6em; font-weight: 500;}
h3 { font-size: 1.4em; font-weight: 600;}
h4 { font-size: 1.4em; font-weight: 400;}
h5 {  font-weight: 600; text-transform: uppercase;}
h6 {  font-weight: lighter;  }
.findings p{ font-style: italic; font-weight: 300;}

/*****  change Fos all links */
a {
  color: #016670;
  text-decoration: none;
  font-weight: 500;
}

/***** Top NAV ****************************/

.main-nav {
  background: white;
  margin: 0 auto;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 1em;
}

.logo-img {
  width: 60px;
  float: left;
}

nav {
  float: right;
}

#menu
{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu li {
  float: right;
  text-transform: capitalize;
}

#menu li a {
  display: block;
  color: black;
  text-align: right;
  padding: 1em;
  vertical-align: middle;
  /* font-weight: 500; */
}

#menu li a:hover {
  background-color: black;
  color: white;
  border-radius: 4px;
}

/******************************************************************/
/******************************************************************/
/***** HOME PAGE ***************************/

/***************** INTRO *******************/
.scroll-container {
  position: relative;
  width: 100%;
}

#Page-Intro {
  background-color: #f9f9f9;
  line-height: normal;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10em 0 6em 0;
}

#Page-Intro h1 {
  color: #016670;
}
.wrapper-pageIntro {
    margin: 0 auto;
    max-width: 80vw;
    position: relative;
}


.case-study {
  height: 100%;
  align-items: center;
  background-image: url("../images/PlaneSky.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding: 4em 0;

  position: relative;
  transition: all 0.5s ease;
}

.proj-image img {
  max-height: 60vh;
}

a {
  color: #016670;
}

.proj-description h3, .proj-description h1 {
margin: 0 10vw;
line-height: 44px;
color: black;
}



/******************************************************************/
/******************************************************************/

/***** project PAGE ***************************/
/***************** INTRO *******************/

#Page-Intro-case {
  margin-top: 10vh;
  /* applying opacity on gradient */
  background-image: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 31%, rgba(255,255,255,1) 100%), url("../images/PlaneSky.svg"); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(255,255,255,1) 100%), url("../images/PlaneSky.svg"); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(255,255,255,1) 100%), url("../images/PlaneSky.svg"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ), url("../images/PlaneSky.svg"); /* IE6-9 */

  url("../images/PlaneSky.svg"); /* FF3.6-15 */
  /* background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 31%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */ */

  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 1em;
}

.projName img {
  max-height: 60vh;
  margin: auto;
}

.projName {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.challenge {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.sol { padding-left: 1em; }


/***************** TIMELINE *******************/

/* The actual timeline (the vertical ruler) */

.timeline {
  position: relative;
  margin-left: 4vw;
}

/* the vertical ruler */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: black;
  top: 0;
  bottom: 0;
}

/* Container around content */
.container {
  padding: 2em;
  position: relative;
  width: 100%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: -12px;
  background-color:  #FCE181;
  border: 3px solid #000;
  top: 50px;
  border-radius: 50%;
  z-index: 1;
}

/* Add arrows pointing left */
.container::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 53px;
  width: 0;
  z-index: 1;
  left: 17px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* The actual content */
.content {
  border: 1px solid white;
  padding: 0 1em 0 2em;
  position: relative;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 20px 0 #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 20px 0 #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 20px 0 #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/*
.content p {
  width: 70%;
} */
/***************** CONTENT *******************/


.process span {
  font-weight: lighter;
}

.process h3  {
  padding: 2em 0 .3em 0;
  border-bottom: 3px solid #FCE181;
  margin: 1em 0;
  align-items: center;
}

.findings {
  background: #f9f9f9;
  border-left: 6px solid #ccc;
  line-height: 1.4;
  margin: 4em 0;
  padding: 1em 2em;
  width: 100%;
}

#survey img, #personas img, #userStories img {
  width: 100%;
}

#swot img {
  width: 30%;
  height: auto;
}

#wireframes img, #branding img, #abTest img, #hiFi-prototype img  {
  max-width: 47%;
  margin: 2px;
}

.img {
  text-align: center;
}

.button {
  background: transparent;
  border: 2px solid #016670;
  border-radius: 4px;
  display: block;
  margin: 4em auto;
  padding: 8px;
  width: 200px;
  align-content: center;
  text-align: center;
}


.button:hover {
  background: #016670;
  color: white;
}

.proj-description .button {
  margin: 1em auto;
}


/*************** footer *********************/

#contact {
  text-align: center;
  background-color: #FCE181;
  padding: 1em;
  line-height: normal;
}

.copyright {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.media-links {      /* border: 6px solid Yellow; */
  padding-top: 18px;
}


/*******************************************************/
 /********* Bio Page ***********************************/

#mainBio {
  margin-top: 10vh;
  padding: 2em;
}

/* quote style  */
.quotation{
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
  padding: 2em;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 20px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}

blockquote { max-width: 90%; }
blockquote footer{
  margin:0;
  text-align: right;
  font-style: italic;
}
/* end of quote style  */

#professional, #personal {
  /* padding: 2em 10em; */
}

#professional h1 { color: #016670;}

#personal button {
  margin: 4em 0;
}



/*******************************************************/
/********* Media Queries ***********************************/

@media screen and (max-width: 575px) {
  body { font-size: .8em; }
  .logo-img { width: 40px; }
}


@media screen and (min-width: 550px) {
  .main-nav, #Page-Intro-case { padding: 1em 6em; }
    #Page-Intro-case { margin-top: 15vh; }
  .wrapper-pageIntro { padding: 1em 3em; }
  .copyright { flex-direction: row;
    justify-content: space-around; }
  .projName {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    align-items: center; }
  .projName img { margin: 0; }
  #description h1, #description p { margin: 0; padding: 4px;}
  .problem, .sol { margin-right: 1em;}
  .timeline {
    padding: 1em 2em 1em 4em;
    margin-left: 2vw; }
  .content { padding: 0 2em; }
  .container::before { left: 22px; }
  #mainBio { padding: 4em 6em; }
  .findings, .content div p, #reflection p  { width: 80%;  }
  #wireframes img, #abTest img, #hiFi-prototype img, #branding img {
    max-width: 30%; }
}


@media screen and (min-width: 991px) {
  .main-nav, #Page-Intro-case {  padding: 1em 16em; }
  .wrapper-pageIntro, .timeline { padding: 1em 12em }
  .container { padding: 2em 4em; }
  .content { padding: 0 4em; }
  .container::before { left: 55px; }
  #mainBio {
    width: 50vw;
    margin: 4em auto;
    max-width: 1440px; }
  .projName, .challenge {
    max-width: 1050px;
    margin: 0 auto; }
  .timeline {
    max-width: 1450px;
   margin: 0 auto; }
  .wrapper-pageIntro {
     max-width: 1145px;
    margin: 0 auto; }
  #survey img, #personas img {
    max-width: 47%; }
  /* #wireframes img, #abTest img, #hiFi-prototype img, #branding img {
    max-width: 30%; } */
}
